@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --footer-height: 120px; /* Adjust based on your footer content */
  --contact-section-height: calc(100vh - var(--footer-height));
}

html, body {
  font-family: var(--font-poppins), sans-serif;
}